{% extends "index.html" %}
{% load i18n %}

{% block menu %}
{% endblock %}

{% block header %}
    {% trans "Login" %}
{% endblock header %}

{% block content %}

    {% if form.non_field_errors %}

    <div class="error">{{ form.non_field_errors }}</div>
    <br />

    {% endif %}

    <form action="" method="post">
    {% csrf_token %}

    <div id="login">

        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
            <span class="error">{{ form.username.errors }}</span>
        </div>

        <div>
            {{ form.password.label_tag }}
            {{ form.password }}
            <span class="error">{{ form.password.errors }}</span>
        </div>

        <br />
        <div>
            <input id="submit_action" type="submit" value="{% trans "Login" %}"/>
        </div>

    </div>

    </form>

{% endblock content %}

{% block scripts %}

    <script type="text/javascript">
        $("#main").css("padding-left", "0px");
    </script>

{% endblock scripts %}