{% extends "index.html" %}
{% load i18n %}
{% load actionlog %}

{% block header %}
    {% trans "Action-Log" %}
{% endblock %}

{% block menu %}
    {% with "actions" as current_category %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

    <p>{% trans "The following actions have been issued by users. Hover over a line to see additional comments." %}</p>

    <div class="datagrid">

        <table>
            <thead>
                <tr>
                    <th>
                        {% trans "Timestamp" %}
                    </th>
                    <th>
                        {% trans "User" %}
                    </th>
                    <th>
                        {% trans "Action" %}
                    </th>
                    <th>
                        {% trans "Object" %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for action in actions %}
                    <tr title="{{ action.comment }}">
                        <td>{{ action.timestamp }}</td>
                        <td>{{ action.user }}</td>
                        <td>{% trans action.action|actionlogize %}</td>
                        <td><a href="{% get_actionobject action.action action.objectid action.objectid2 %}">{% trans "Reference" %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td style="text-align: right" colspan="4">
                        <div>
                            <span style="float:left">
                                <a href="{% url actionlog_delete %}">
                                    {% trans "Delete All" %}
                                </a>
                            </span>
                            {% if actions.has_previous %}
                                <a href="?page={{ actions.previous_page_number }}">
                                    {% trans "Previous" %}
                                </a>
                            {% endif %}

                            {% blocktrans with current=actions.number max=actions.paginator.num_pages %}
                            Page {{ current }} of {{ max }}.
                            {% endblocktrans %}

                            {% if actions.has_next %}
                                <a href="?page={{ actions.next_page_number }}">
                                    {% trans "Next" %}
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>

{% endblock %}