{% extends "index.html" %}
{% load i18n %}

{% block header %}
    {% trans "Apply" %}
{% endblock %}

{% block menu %}
    {% with "apply" as current_category %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

    {% blocktrans %}

    <p>
        With this command you can apply all changes you have made and thus
        deliver new authorized_keys files to the affected hosts.
    </p>

    {% endblocktrans %}

    <form action="" method="post">
    {% csrf_token %}

    {% if mode == "index" %}

    {% blocktrans %}

    <p>
        Click on "Scan" to analyze the pending changes.
    </p>

    {% endblocktrans %}

    <input type="submit" value="{% trans "Scan" %}"
           name="do_scan" />

    {% elif mode == "scanned" %}

    {% blocktrans %}

    <p>
        The changes have been scanned. The following hosts will get new
        authorized_keys-files:
    </p>

    {% endblocktrans %}

    <ul>
        {% for host in affected_hosts %}
        <li>{{ host.user }}@{{ host.fqdn }} ({{ host.name }})</li>
        {% empty %}
        <li>{%  trans "Nothing to apply." %}</li>
        {% endfor %}
    </ul>

    {% if affected_hosts %}

    <input type="submit" value="{% trans "Apply" %}"
           name="do_apply" />

    {% endif %}

    {% elif mode == "done" %}

    {% blocktrans %}
    <p>
        The changes have been applied. Please check the log output:
    </p>
    {% endblocktrans %}

    <p>
        <textarea cols="60" rows="20" wrap="false">{{ log_output }}</textarea>
    </p>

    <input type="submit" value="{% trans "Rescan" %}"
           name="do_scan" />

    {% endif %}

    </form>

{% endblock content %}