{% extends "index.html" %}
{% load i18n %}

{% block header %}
    {% trans "Home" %}
{% endblock %}

{% block menu %}
    {% with "home" as current_category %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

    {% blocktrans %}
    <p>Welcome to <strong>skd</strong>, the simple SSH public key distribution
    software.</p>

    <p>With skd it is easy to control the public keys in your environment,
    granting users the access to hosts they only should have access to.</p>

    <p>It binds keys to users, users to groups and groups to a group of
    hosts.</p>

    <p>So the "DMZ"-Admin group has the full access to all hosts in the DMZ.
    And any new user only needs to be set up and added to the DMZ-Group to auto-
    matically have all access.</p>

    <p>And revoking access is also as simple as removing the user from a group
    or deleting the user as a whole.</p>

    <p><strong>skd</strong> generates a private/public key pair upon first
    setup. The public key can directly be copied to the
    <em>authorized_keys</em>-file on a newly created machine after a first
    password-based authentication. The private key is stored within the
    <strong>skd</strong>-database. So you should keep that database on a
    secure location. But even if the key is corrupt, <strong>skd</strong> can
    generate a new key, transport that key and remove the old key from the
    systems.</p>

    <p>Choose one of the menu entries on the left.</p>
    {% endblocktrans %}

{% endblock content %}