{% extends "index.html" %}
{% load i18n %}

{% block header %}
    <a href="{% url hosts_list %}">{% trans "Hosts"%}</a>
    >> {% trans "Setup" %}
{% endblock %}

{% block menu %}
    {% with "hosts" as current_category %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

    <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="host" value="{{ host.id }}" />

    {% blocktrans with host=host.name user=host.user key=sshkey_public.value %}

    <p>This feature enables you to put the <strong>skd</strong> public key into
    the authorized_keys file of user {{ user }} on host {{ host }} for one-time
    setup. For this you have to enter the password of user {{ user }} on this
    host.</p>

    <p><strong>This password is never saved and only used for this
    one-time-setup.</strong><p>

    <p>However, this method is not recommended as it can lead to security
    problems especially if <strong>skd</strong> isn't running via a secure
    channel.</p>

    <p>It would be better for you to manually put the following line into the
    user's authorized_keys-file:</p>

    <p><textarea cols="64" rows="11" onclick="select_all('public_key')"
              id="public_key">ssh-dss {{ key }}</textarea></p>

    {% endblocktrans %}

    <fieldset>
        <legend>{% trans "Password" %}</legend>

            {% if ssh_message != "" %}

                <p>{{ ssh_message }}</p>

            {% else %}

            <p>
                Enter the password of user {{ host.user }} on host
                {{ host.name }}:
            </p>
            <input type="password" name="password"/>

            <input type="submit" value="{% trans "Setup host" %}"
                   name="do_setup" />

            {% endif %}

    </fieldset>

    </form>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    function select_all(objectId)
    {
        //noinspection JSUndeclaredVariable
        object = $("#" + objectId);
        object.focus();
        object.select();
    }
</script>
{% endblock scripts %}