{% extends "index.html" %}
{% load i18n %}

{% block menu %}
    {% with "hostgroups" as current_category %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block header %}
    <a href="{% url hostgroups_list %}">{% trans "Hostgroups"%}</a>
    >>
    <a href="{% url hostgroups_usergroups_list hostgroup=hostgroup.id %}">{% trans "Assigned usergroups" %}</a>
    >>
    {% trans "Unassign" %}
{% endblock header %}

{% block content %}

<form action="" method="post">
{% csrf_token %}

<p>
{% blocktrans with group=hostgroup.name member=object.usergroup.name %}
Do you really want to unassign the usergroup {{ member }} from hostgroup {{ group }}?
{% endblocktrans %}
</p>

<p><input type="submit" value="{% trans 'Yes' %}"/> <input type="button" value="{% trans 'No' %}" onclick="history.back()"/></p>
</form>

{% endblock content %}