{% extends "index.html" %}
{% load i18n %}

{% block menu %}
    {% with "hosts" as current_category %}
    {{ block.super }}
    {% endwith %}
{% endblock %}

{% block header %}
    <a href="{% url hosts_list %}">{% trans "Hosts"%}</a>
    >> {% trans "Groups" %}
{% endblock header %}

{% block content %}
{% if host_groups %}
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>{% trans "Groupname" %}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>

            {% for group in host_groups %}
            <tr title="{{ group.group.comment }}">
                <td>
                    {{ group.group.name }}
                </td>
                <td>
                    <a href="{% url hosts_groups_unassign host=group_member.id pk=group.id %}">
                       {% trans "Unassign" %}
                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>
{% else %}
    <p>{% trans "The host is not a member of any group." %}</p>
{% endif %}

<p><a href="{% url hosts_groups_assign group_member.id %}">{% trans "Assign to a group" %}</a></p>

{% endblock content %}