{% extends "index.html" %}
{% load i18n %}

{% block menu %}
    {% with "users" as current_category %}
    {{ block.super }}
    {% endwith %}
{% endblock %}

{% block header %}
    <a href="{% url users_list %}">{% trans "Users"%}</a>
    >> {% trans "Keys" %}
{% endblock header %}

{% block content %}
{% if user_keys %}
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>{% trans "Keyname" %}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>

            {% for key in user_keys %}
            <tr title="{{ key.comment }}">
                <td>
                    <a href="{% url users_keys_edit user=key_owner.id pk=key.id %}">
                        {{ key.name }}
                    </a>
                </td>
                <td>
                    <a href="{% url users_keys_delete user=key_owner.id pk=key.id %}">
                       {% trans "Delete" %}
                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>
{% else %}
    <p>{% trans "The user has no keys." %}</p>
{% endif %}

<p><a href="{% url users_keys_create key_owner.id %}">{% trans "Add Key" %}</a></p>

{% endblock content %}