{% extends "index.html" %}
{% load i18n %}

{% block menu %}
    {% with "users" as current_category %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block header %}
    <a href="{% url users_list %}">{% trans "Users"%}</a>
    >>
    <a href="{% url users_keys_list user=key_owner.id %}">{% trans "Keys" %}</a>
    >>
{% if object.name %}
    {% trans "Edit" %}
{% else %}
    {% trans "Add key" %}
{% endif %}

{% endblock header %}

{% block content %}

<span class="error">{{ form.non_field_errors }}</span>

<form action="" method="post">
    {% csrf_token %}
    <div>
        {{ form.name.label_tag }}
        {{ form.name }}
        <span class="error">{{ form.name.errors }}</span>
    </div>
    <div>
        {{ form.user.label_tag }}
        {{ key_owner }}
        <input type="hidden" name="{{ form.user.html_name }}"
               value="{{ form.user.value }}" />
        <span class="error">{{ form.user.errors }}</span>
    </div>
    <div>
        {{ form.key.label_tag }}
        {{ form.key }}
        <span class="error">{{ form.key.errors }}</span>
        <span id="id_key_hint" class="hint">{{ form.key.help_text }}</span>
    </div>
    <div>
        {{ form.comment.label_tag }}
        {{ form.comment }}
        <span class="error">{{ form.comment.errors }}</span>
    </div>
    <br />
    <div>
        <input id="submit_action" type="submit" value="{% trans "Submit" %}"/>
        <input id="cancel_action" type="button" value="{% trans "Cancel" %}"
               onclick="window.history.back()" />
    </div>
</form>

{% endblock content %}

{% block scripts %}

<script type="text/javascript">
    $("#id_key").focus(function () {
        $("#id_key_hint").css("display", "inline");
    });

    $("#id_key").blur(function () {
        $("#id_key_hint").css("display", "none")
    });
</script>

{% endblock scripts %}