{% extends "index.html" %}
{% load i18n %}

{% block menu %}
    {% with "usergroups" as current_category %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block header %}
    <a href="{% url usergroups_list %}">{% trans "Usergroups"%}</a>
    >>
    <a href="{% url usergroups_users_list usergroup=usergroup.id %}">{% trans "Members" %}</a>
    >>
    {% trans "Unassign" %}
{% endblock header %}

{% block content %}

<form action="" method="post">
{% csrf_token %}

<p>
{% blocktrans with group=usergroup.name member=object.user.name %}
Do you really want to remove the user {{ member }} from group {{ group }}?
{% endblocktrans %}
</p>

<p><input type="submit" value="{% trans 'Yes' %}"/> <input type="button" value="{% trans 'No' %}" onclick="history.back()"/></p>
</form>

{% endblock content %}