{% extends "index.html" %}
{% load i18n %}

{% block menu %}
    {% with "users" as current_category %}
    {{ block.super }}
    {% endwith %}
{% endblock %}

{% block header %}
{% trans "Users" %}
{% endblock header %}

{% block content %}
{% if users %}
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Full name" %}</th>
                    <th colspan="3">&nbsp;</th>
                </tr>
            </thead>

            <tbody>

            {% for user in users %}
            <tr title="{{ user.comment }}">
                <td>
                    <a href="{% url users_edit pk=user.id %}">
                        {{ user.name }}
                    </a>
                </td>
                <td>{{ user.fullname }}</td>
                <td>
                    <a href="{% url users_delete pk=user.id %}">
                        {% trans "Delete" %}
                    </a>
                </td>
                <td>
                    <a href="{% url users_keys_list user=user.id %}">
                        {% trans "Keys" %}
                    </a>
                </td>
                <td>
                    <a href="{% url users_groups_list user=user.id %}">
                       {% trans "Groups" %}
                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>
{% else %}
    <p>{% trans "No users exist." %}</p>
{% endif %}

<p><a href="{% url users_create %}">{% trans "Create user" %}</a></p>

{% endblock content %}