{% extends "index.html" %}
{% load i18n %}

{% block menu %}
    {% with "usergroups" as current_category %}
    {{ block.super }}
    {% endwith %}
{% endblock %}

{% block header %}
    <a href="{% url usergroups_list %}">{% trans "Usergroups"%}</a>
    >> {% trans "Assigned Hostgroups" %}
{% endblock header %}

{% block content %}
{% if usergroup_hostgroups %}
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>{% trans "Assigned" %}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>

            {% for hostgroup in usergroup_hostgroups %}
            <tr title="{{ hostgroup.hostgroup.comment }}">
                <td>
                    {{ hostgroup.hostgroup.name }}
                </td>
                <td>
                    <a href="{% url usergroups_hostgroups_unassign usergroup=usergroup.id pk=hostgroup.id %}">
                       {% trans "Unassign" %}
                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>

        </table>
    </div>
{% else %}
    <p>{% trans "This usergroup has no hostgroups assigned." %}</p>
{% endif %}

<p><a href="{% url usergroups_hostgroups_assign usergroup.id %}">{% trans "Assign a hostgroup" %}</a></p>

{% endblock content %}