{% extends "index.html" %}
{% load i18n %}

{% block menu %}
    {% with "users" as current_category %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block header %}
    <a href="{% url users_list %}">{% trans "Users"%}</a>
    >>
    <a href="{% url users_groups_list user=group_member.id %}">{% trans "Groups" %}</a>
    >>
    {% trans "Unassign" %}
{% endblock header %}

{% block content %}

<form action="" method="post">
{% csrf_token %}

<p>
{% blocktrans with member=group_member.name group=object.group.name %}
Do you really want to remove the user {{ member }} from group {{ group }}?
{% endblocktrans %}
</p>

<p><input type="submit" value="{% trans 'Yes' %}"/> <input type="button" value="{% trans 'No' %}" onclick="history.back()"/></p>
</form>

{% endblock content %}